
@model IEnumerable<CartItemViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Warenkorb</h1>

<table class="table">
    <thead>
        <tr>
            <!-- th Column Header (Spalte)-->
            <th>
                Cover
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Movie.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Movie.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Movie.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Movie.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Quantity)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(CartItemViewModel currentItem in Model)
        {
            <tr>
                <td>
                    <a href="~/images/@System.IO.Path.GetFileName(currentItem.Movie.MovieImage)">
                        <img class="img-fluid" src="/imagegen?img=/@System.IO.Path.GetFileName(currentItem.Movie.MovieImage)" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(item=>currentItem.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(item=>currentItem.Movie.Description)
                </td>
                <td>
                    @Html.DisplayFor(item=>currentItem.Movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(item=>currentItem.Movie.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(item=>currentItem.Movie.Price)
                </td>
                <td>
                    @Html.DisplayFor(item=>currentItem.Quantity)
                </td>
                <td>
                    <a asp-controller="cart" asp-action="remove" asp-route-id="@currentItem.Movie.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Totaler Preis @ViewBag.total</p>